<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Test natijasi</h1>
        <p><strong>Ism:</strong> {{ ism }}</p>
        <p><strong>Familiya:</strong> {{ familiya }}</p>
        <p><strong>Kurs:</strong> {{ kurs }}</p>
        <p><strong>Guruh:</strong> {{ guruh }}</p>
        <p><strong>Yo‘nalish:</strong> {{ yonalish }}</p>
        <p><strong>Fan:</strong> {{ fan.name }}</p>
        <hr>
        <h3>To‘g‘ri javoblar soni: {{ togri }} / {{ umumiy }}</h3>

</body>
</html>